Source: pd-pidip
Section: graphics
Priority: extra
Maintainer: Claude Heiland-Allen <claudiusmaximus@goto10.org>
Build-Depends: debhelper (>= 6), dpatch, patchutils, autotools-dev, automake, autoconf, pd-pdp-dev | pd-pdp-caedes, pd, libimlib2-dev, libtheora-dev, libvorbis-dev, graphicsmagick-libmagick-dev-compat | libmagick-dev, libmp3lame-dev, libquicktime-dev, libgsl0-dev, libdc1394-22-dev, libavformat-dev, libdv4-dev
Standards-Version: 3.8.0

Package: pd-pidip
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pd-pdp | pd-pdp-caedes, pd, libc6, tcllib
Enhances: pd-pdp, pd
Description: additional video objects for PDP for puredata
 PIDIP is a Pd external library containing additional video objects for 
 PDP.  PDP is a Pd external library for processing data packets, 
 including images and video.
